*{
  margin: 0;
  padding: 0;
}

:root{
  font-size: 10px;
}

h1{
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 3rem;
}

.buttons{
  display: flex;
  gap: 2rem;
  margin-top: 1rem;

}

.save:hover{
  background-color: rgba(0, 0, 0, 0.253);
}

.new, .buttons *{
  background-color: rgba(0, 128, 0, 0.301);
  font-size: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.384) ;
  border-radius: 1rem;
  padding: 0.5rem;
}
.new{
  width: 10vw;
  margin-left: 3rem;
}


/*CONTAINER */
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  
}

/*CARD  */
.card{
  width: clamp(400px, 20vw, 500px) ;
  font-size: 1.5rem ;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.384) ;
  border-radius: 2rem;
  margin: 2rem;
}